<br/>
<div class="bg-dark-gray">
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col-md-4">
                <p class="lead">
                    Wyszukaj animatora
                </p>
                <strong>Województwo</strong>
                <ul class="list-unstyled font-small">
                    <li>Dolnośląskie</li>
                    <li>Kujawsko-Pomorskie</li>
                    <li>Lubelskie</li>
                    <li>Lubuskie</li>
                    <li>Łódzkie</li>
                    <li>Małopolskie</li>
                    <li>Mazowieckie</li>
                    <li>Opolskie</li>
                    <li>Podkarpackie</li>
                    <li>Podlaskie</li>
                    <li>Pomorskie</li>
                    <li>Śląskie</li>
                    <li>Świętokrzyskie</li>
                    <li>Warmińsko-Mazuskie</li>
                    <li>Wielkopolskie</li>
                    <li>Zachodniopomorskie</li>
                </ul>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="text-center footer-copyright">
    <strong>WynajmijAnimatora.pl</strong><br/>
    Stworzone przez Koriko - rozwiązania dopasowane dla potrzeb
</div>