{% extends 'back/base.html.twig' %}
{% block body %}
    <div class="header-title">
       Dodaj kategorię
    </div>
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}