<nav class="navbar navbar-light bg-dark header">
    Wynajmij Animatora .pl
    <div class="float-right">
        {{ app.user }}
        <a href="" class="btn btn-sm btn-danger">Wyloguj</a>
    </div>
</nav>